@{
    ViewBag.Title = "Home Page";
}

<!-- /.row -->
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            @if (User.Identity.IsAuthenticated)
            {
                <div class="panel-heading text-center">
                    <img class="img-resize" src="~/Content/images/dundieAward.png" />
                    <span class="welcome">2015 Dundies Awards</span>
                    <img class="img-resize" src="~/Content/images/dundieAward.png" />

                </div>
                <div class="panel-body">
                    <div class="container-fluid">
                        <img class="img-responsive" src="~/Content/images/Office 3.jpg" />
                    </div>
                </div>
            }
            else
            {

                <h2 class="text-center welcome">Welcome to DUNDER MIFFLIN INC,</h2>
                <p class="text-center para">PAPER COMPANY</p>

                <div class="panel-body picbackground">
                </div>
            }

        </div>
    </div>
</div>
